.blocky {
  content: '';
  display: block;
}
.inline-blocky {
  content: '';
  display: inline-block;
}
.clear {
  clear: both;
}
.animate-hidden {
  visibility: hidden;
  opacity: 0;
}
.animate-visible {
  visibility: visible;
  opacity: 1;
}
.force-hardware {
  -webkit-transform: translate3d(0);
  -moz-transform: translate3d(0);
  transform: translate3d(0);
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-direction-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
